.navbar {
    background-color: #0b2b4e;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .app-name-container {
    display: flex;
    align-items: center;
}

.navbar .app-logo {
    margin: auto 4px auto auto;
    height: 48px;
    width: 48px;
}

.navbar .app-name {
    margin: 0;
    font-size: 24px;
}

.navbar .links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .links li {
    margin-left: 20px;
    cursor: pointer;
}

.navbar .links li:hover {
    text-decoration: underline;
}
