body {
    font-family: 'Arial', sans-serif;
    background-color: #eef2f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



/* Main Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: calc(100vh - 60px);
}

/* Welcome Section */
.welcome-section {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Login Section */
.login-section {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 22px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 109%;
    max-width: 360px;
}



.login-description {
    font-size: 1em;
    margin-bottom: 20px;
    text-align: left;
}

.button {
    padding: 12px;
    display: inline-block;
    width: 100%;
    max-width: 270px;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.separator {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.separator span {
    margin: 0 10px;
    color: #666;
}

.signup-button {
    background-color: #28a745;
    margin-bottom: 40px;
}

.signup-button:hover {
    background-color: #218838;
}

.admin-prompt {
    margin-top: 30px;
    font-size: 1em;
    color: #333;
    text-align: left;
}

.admin-button {
    background-color: #6c757d;
    color: #ccc;
}

.admin-button:hover {
    background-color: #5a6268;
    color: #fff;
}

/* Register Prompt */
.register-prompt {
    font-size: 0.9em;
    margin-top: 15px;
}

.register-prompt a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.register-prompt a:hover {
    text-decoration: underline;
}

.login-button {
    margin-top: 50px;
}

.join-title {
    font-size: 2em;
    margin-bottom: 10px;
}

