<div class="page-container">
  <h1>Equipment Dashboard</h1>
  <!-- Placeholder for user info (username and token) -->
  <div id="user-info" class="user-info"></div>
  <div class="table-container">
    <h2>Available Equipment</h2>
    <table id="available-equipment-table" class="table table-bordered table-hover mt-4">
      <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
      </thead>
      <tbody></tbody>
    </table>

    <h2>My Borrowed Equipment</h2>
    <table id="borrowed-equipment-table" class="table table-bordered table-hover mt-4">
      <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>