<div id="forgot-password-container">
    <h2 id="login-title">Reset Password</h2>

    <label id="username-label" for="username">Username</label>
    <div id="username-container">
        <input id="username" placeholder="Username" />
        <span id="username-error" class="error-message"></span>
    </div>

    <label id="new-password-label" for="new-password">New Password</label>
    <div id="new-password-container">
        <input id="new-password" type="password" placeholder="New Password" />
        <span id="new-password-error" class="error-message"></span>
    </div>

    <button id="reset-password-btn">Reset Password</button>
    <a id="sign-in-link" class="link">Sign in</a>
    <span id="error-message" class="error-message"></span>
    <span id="success-message" class="success-message"></span>
</div>