<div id="login-container">
  <h2 id="login-title">Login</h2>

  <label id="username-label" for="username">Username</label>
  <div id="username-container">
    <input id="username" placeholder="Username" />
    <span id="username-error" class="error-message"></span>
  </div>

  <label id="password-label" for="password">Password</label>
  <div id="password-container">
    <input id="password" type="password" placeholder="Password" />
    <span id="password-error" class="error-message"></span>
  </div>

  <span id="user-details-error" class="error-message"></span>

  <button id="submit" class="mt-4">Login</button>
  <a id="register-button" class="link">No Account? Register here</a>
</div>