<div id="login-container">
  <h2 id="login-title">Register</h2>

  <label id="username-label" for="username">Username</label>
  <div id="username-container">
    <input id="username" placeholder="Username" />
    <span id="username-error" class="error-message"></span>
  </div>

  <label id="password-label" for="password">Password</label>
  <div id="password-container">
    <input id="password" type="password" placeholder="Password" />
    <span id="password-error" class="error-message"></span>
  </div>

  <label id="first-name-label" for="first-name">First Name</label>
  <div id="first-name-container">
    <input id="first-name" placeholder="First Name" />
    <span id="first-name-error" class="error-message"></span>
  </div>

  <label id="last-name-label" for="last-name">Last Name</label>
  <div id="last-name-container">
    <input id="last-name" placeholder="Last Name" />
    <span id="last-name-error" class="error-message"></span>
  </div>

  <span id="register-error" class="error-message"></span>

  <button id="register-user-button" class="mt-4">Register</button>
  <a id="sign-in-button" class="link">Already have an account? Sign in</a>

</div>